# AI tuner feasibility test - Chinese version

The purpose of this test is to show that there is correlation between modifiable argument in Vocaloid and the score of the .

## Prepare data
In this part we will get a formated vsqx data in dictionary with 2 dimension infromation note and id.

1. import vocaloid project (VCP) and extract all test related arguments (arg)
2. format all args to 960 length list where 960 is the time stamps

In [100]:
import sys, os
sys.path.append(os.getcwd())

from vocaloidDao import vocaloidVSQXResolver
import json

dataPath = os.path.join(os.getcwd(), 'VocaloidVSQXCollection')

with open(os.path.join(dataPath,"source.json"), 'r') as f:
    source = json.load(f)

fileList = [source["source-"+str(sourceIndex+1)]["file"] for sourceIndex in range(len(source))]

resolverList = [vocaloidVSQXResolver(os.path.join(dataPath, fileName)) for fileName in fileList]

In [101]:
from vocaloidDao import parallelResolve
parallelResolve(resolverList)

local computer has: 16 cores

Parallal computing takes 0.00 seconds to finish.

In [102]:
VocaloidDataDfs = [resolver.loadFormatedVocaloidData() for resolver in resolverList]

Log: loaded
Log: loaded
Log: loaded
Log: loaded
Log: loaded
Log: loaded
Log: loaded
Log: loaded

In [229]:
import pandas as pd 
VocaloidDataDf = pd.DataFrame()
for VocaloidDataDfIndex in range(len(VocaloidDataDfs)):
    VocaloidDataDf = VocaloidDataDf.append(VocaloidDataDfs[VocaloidDataDfIndex])
VocaloidDataDf.head()

,D,G,W,P,S,VEL,T,OPE,DUR
0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 6...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[127, 127, 127, 127, 127, 127, 127, 127, 127, ...","[60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 6..."
1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 6...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[127, 127, 127, 127, 127, 127, 127, 127, 127, ...","[390, 390, 390, 390, 390, 390, 390, 390, 390, ..."
2,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 6...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[127, 127, 127, 127, 127, 127, 127, 127, 127, ...","[90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 9..."
3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 6...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[127, 127, 127, 127, 127, 127, 127, 127, 127, ...","[180, 180, 180, 180, 180, 180, 180, 180, 180, ..."
4,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 6...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[127, 127, 127, 127, 127, 127, 127, 127, 127, ...","[60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 6..."

In [104]:
2248*9*960

19422720

## Prepare before evaluation

The above dataframe is scary, with 19 million data as 3 dimension. We have to reduce the data by extract the picture of each 960 vector, and join to the table. So, the next challenge we face is how to extract this image.

We decide to take following data:

> VEL OPE DUR
>
> for D G W P S we take their:
>
> with 0s: mean, sd
>
> without 0s: min, mid, max, mean, sd, mod

See more: https://www.cnblogs.com/xingshansi/p/6815217.html

In [105]:
VocaloidDataDf = VocaloidDataDf.reset_index()
VocaloidDataDf.columns

Index(['index', 'D', 'G', 'W', 'P', 'S', 'VEL', 'T', 'OPE', 'DUR'], dtype='object')

In [227]:
discreteArgsDf = VocaloidDataDf[["VEL","OPE","DUR"]].applymap(lambda x : x[0])
discreteArgsDf.columns = discreteArgsDf.columns.map(lambda x : x+("-SINGLE"))
discreteArgsDf.head()

   VEL-SINGLE  OPE-SINGLE  DUR-SINGLE
0          64         127          60
1          64         127         390
2          64         127          90
3          64         127         180
4          64         127          60

In [226]:
import numpy as np

# mean with 0s
continuousArgsDf = pd.DataFrame()
continuousArgsDf = VocaloidDataDf[["D","G","W","P","S"]].applymap(np.mean)
continuousArgsDf.columns = continuousArgsDf.columns.map(lambda x : x+("-MEAN+0s"))

# sd with 0s
continuousArgsDfTemp = VocaloidDataDf[["D","G","W","P","S"]].applymap(np.std)
continuousArgsDfTemp.columns = continuousArgsDfTemp.columns.map(lambda x : x+("-SD+0s"))
continuousArgsDf = continuousArgsDf.join(continuousArgsDfTemp,on=continuousArgsDf.index)

# without 0s

def appendAspect(dict, continuousArgsDf):
    for key in dict.keys():
        continuousArgsDfTemp = VocaloidDataDf[["D","G","W","P","S"]].applymap(lambda x : dict[key]([i for i in x if i!=0]+[0]))
        continuousArgsDfTemp.columns = continuousArgsDfTemp.columns.map(lambda x : x+(key))
        continuousArgsDf = continuousArgsDf.join(continuousArgsDfTemp,on=continuousArgsDf.index)
    return continuousArgsDf

from scipy import stats

aspectDict = {"-MEAN": np.mean,"-SD": np.std,"-MIN": np.min,"-MAX": np.max,"-MID": np.median,"-MOD": lambda x : stats.mode(x)[0][0]}

continuousArgsDf = appendAspect(aspectDict,continuousArgsDf)

continuousArgsDf.head()

,D-MEAN+0s,G-MEAN+0s,W-MEAN+0s,P-MEAN+0s,S-MEAN+0s,D-SD+0s,G-SD+0s,W-SD+0s,P-SD+0s,S-SD+0s,...,D-MID,G-MID,W-MID,P-MID,S-MID,D-MOD,G-MOD,W-MOD,P-MOD,S-MOD
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0

In [225]:
argsDf = pd.DataFrame.join(discreteArgsDf, continuousArgsDf, on=discreteArgsDf.index)

# print(ArgsDf.max())
argsDf.head()

,VEL-SINGLE,OPE-SINGLE,DUR-SINGLE,D-MEAN+0s,G-MEAN+0s,W-MEAN+0s,P-MEAN+0s,S-MEAN+0s,D-SD+0s,G-SD+0s,...,D-MID,G-MID,W-MID,P-MID,S-MID,D-MOD,G-MOD,W-MOD,P-MOD,S-MOD
0,64,127,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1,64,127,390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
2,64,127,90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
3,64,127,180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
4,64,127,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0

In [228]:
# get the rank list
rankList = []
for resolverIndex in range(len(resolverList)):
    noteNum = resolverList[resolverIndex].noteNum
    rank = source["source-"+str(resolverIndex+1)]["rank"]
    for i in range(noteNum):
        rankList+=[rank]
rankDf = pd.DataFrame({"RANK":rankList})
rankDf.head()

   RANK
0     1
1     1
2     1
3     1
4     1

In [110]:
dataDf = argsDf.join(rankDf, on=rankDf.index)
dataDf.head()

,VEL-SINGLE,OPE-SINGLE,DUR-SINGLE,D-MEAN+0s,G-MEAN+0s,W-MEAN+0s,P-MEAN+0s,S-MEAN+0s,D-SD+0s,G-SD+0s,...,G-MID,W-MID,P-MID,S-MID,D-MOD,G-MOD,W-MOD,P-MOD,S-MOD,RANK
0,64,127,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1
1,64,127,390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1
2,64,127,90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1
3,64,127,180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1
4,64,127,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1

## Clean our data

1. delete all data that the dur longer than 960

In [111]:
dataDf = dataDf[dataDf['DUR-SINGLE']<=960]
dataDf.head()

,VEL-SINGLE,OPE-SINGLE,DUR-SINGLE,D-MEAN+0s,G-MEAN+0s,W-MEAN+0s,P-MEAN+0s,S-MEAN+0s,D-SD+0s,G-SD+0s,...,G-MID,W-MID,P-MID,S-MID,D-MOD,G-MOD,W-MOD,P-MOD,S-MOD,RANK
0,64,127,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1
1,64,127,390,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1
2,64,127,90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1
3,64,127,180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1
4,64,127,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1

## Evaluating data
Perform the following steps:

1. standardize our dataset
2. plot the heat map of regression coefficient, and leave one argument from the pair with higher value
3. fit to PCA modle, plot the corresponding percentage variance in a scree plot, combine the first several PCA
4. regress the MSE of sound onto the combined PCA

If the MSE is reasonaly small, we can accept this result.

In [112]:
def standardizer(dataArray):
    return (dataArray-dataArray.mean())/dataArray.std()

def normalizer(dataArray):
    if dataArray.max() - dataArray.min() == 0:
        return dataArray
    return (dataArray-dataArray.min())/(dataArray.max() - dataArray.min())

In [224]:
dataDfStandardized = dataDf.apply(standardizer)
dataDfNormalized = dataDf.apply(normalizer)

# dataDfNormalized.head()
# dataDfStandardized.head()

In [208]:
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.spatial import Voronoi, voronoi_plot_2d

def noiser(df):
    return df.applymap(lambda x : x+np.random.random()*0.2)

def comparisionPlot(columnName0, columnName1, hueColumn, dataDfNormalized):
    # add 4 distant dummy points
    # dataPoints = np.append((dataDfNormalized)[['P-MEAN', 'RANK']], [[2,2], [-2,2], [2,-2], [-2,-2]], axis = 0)

    # noise version
    dataPointsWithNoise = noiser(dataDfNormalized)

    # normal version
    dataPoints = dataDfNormalized[[columnName0, columnName1]]

    sns.scatterplot(x = columnName0 ,y = columnName1, data = dataPointsWithNoise, hue=hueColumn, marker = "o")
    plt.show()

    """
    https://stackoverflow.com/questions/20515554/colorize-voronoi-diagram/20678647#20678647
    https://ipython-books.github.io/145-computing-the-voronoi-diagram-of-a-set-of-points/
    """

    # plot Voronoi diagrame
    vor = Voronoi(dataPoints)
    voronoi_plot_2d(vor, show_vertices = True, point_size = 2)

    # color list 
    colorList = []
    for regionIndex in range(len(vor.regions)):
        if not -1 in vor.regions[regionIndex]:
            polygon = [vor.vertices[i] for i in vor.regions[regionIndex]]
            if len(polygon) == 0:
                colorList += colorList[-1:]
                continue
            colorList += [np.array(polygon).transpose().min()]
        colorList += colorList[-1:]
    colorList = normalizer(np.array(colorList))

    # colorize
    for regionIndex in range(len(vor.regions)):
        if not -1 in vor.regions[regionIndex]:
            polygon = [vor.vertices[i] for i in vor.regions[regionIndex]]
            plt.fill(*zip(*polygon),color=np.repeat(colorList[regionIndex],3))

    # fix the range of axes
    plt.xlim([-0.2,1.2]), plt.ylim([-0.2,1.2])

    plt.show()

In [210]:
def comparisionPlot2(columnName0, columnName1, dataDfNormalized):
    # add 4 distant dummy points
    # dataPoints = np.append((dataDfNormalized)[['P-MEAN', 'RANK']], [[2,2], [-2,2], [2,-2], [-2,-2]], axis = 0)

    # noise version
    dataPointsWithNoise = noiser(dataDfNormalized[dataDfNormalized["RANK"]<0.5])

    sns.scatterplot(x = columnName0 ,y = columnName1, data = dataPointsWithNoise, hue="RANK", marker = "o")
    plt.xlim([-0.2,1.2]), plt.ylim([-0.2,1.2])
    plt.show()

    # noise version
    dataPointsWithNoise = noiser(dataDfNormalized[dataDfNormalized["RANK"]>=0.5])

    sns.scatterplot(x = columnName0 ,y = columnName1, data = dataPointsWithNoise, hue="RANK", marker = "o")
    plt.xlim([-0.2,1.2]), plt.ylim([-0.2,1.2])
    plt.show()

In [231]:
dataDfNormalized.columns

Index(['VEL-SINGLE', 'OPE-SINGLE', 'DUR-SINGLE', 'D-MEAN+0s', 'G-MEAN+0s',
       'W-MEAN+0s', 'P-MEAN+0s', 'S-MEAN+0s', 'D-SD+0s', 'G-SD+0s', 'W-SD+0s',
       'P-SD+0s', 'S-SD+0s', 'D-MEAN', 'G-MEAN', 'W-MEAN', 'P-MEAN', 'S-MEAN',
       'D-SD', 'G-SD', 'W-SD', 'P-SD', 'S-SD', 'D-MIN', 'G-MIN', 'W-MIN',
       'P-MIN', 'S-MIN', 'D-MAX', 'G-MAX', 'W-MAX', 'P-MAX', 'S-MAX', 'D-MID',
       'G-MID', 'W-MID', 'P-MID', 'S-MID', 'D-MOD', 'G-MOD', 'W-MOD', 'P-MOD',
       'S-MOD', 'RANK'],
      dtype='object')

In [221]:
# comparisionPlot('DUR-SINGLE','P-SD',"RANK",dataDfNormalized)
# comparisionPlot2('DUR-SINGLE','P-SD',dataDfNormalized)

In [223]:
# comparisionPlot('DUR-SINGLE','P-MEAN+0s',"RANK",dataDfNormalized)
# comparisionPlot2('DUR-SINGLE','P-MEAN+0s',dataDfNormalized)

## Conclusion

Conclusion and preparation for later step.

1. report on the result
2. automate all processes in data preparation, PCA and regression.